page-home {

	.show-browser-audio { 
		display: block !important;
	}

	ion-header {
		.toolbar-background {
			background-color: #371616 !important;
		}

		.bar-button {
			color: #f4ac6a;
		}

		.toolbar-title {
		    text-transform: uppercase;
    		color: #f4b56b;
		}

		ion-navbar {
			height: 6rem;
		}
	}

	ion-grid {
		min-height: 100%;
		padding: 7vh 7% 7% !important; 
		margin-top: 2rem;
		background-color: rgba(210, 210, 210, 0.3411764705882353);

		h1 {
		    width: 100%;
		    font-weight: 100;
		    font-size: 11vw;
		    line-height: 12vw;
		    letter-spacing: 0.35rem;
		    color: #fff;
		    margin-bottom: 6vh;
		    text-align: center;	
		}
		
		form {
			width: 100%;
			
			ion-item {
				background-color: rgba(255, 255, 255, 0.89) !important;
				border-radius: 0.25rem !important;
    			margin: 1rem auto !important;

    			ion-label {
    				color: #c4a074;
				    font-size: 2rem;
				    font-weight: bold;
    			}

    			&.alarm-button-item, &.alarm-button-item > .item-inner {
    				background-color: transparent !important;
    			}
			}
			

			#alarm-button {
			    width: 16rem;
			    height: 16rem;
			    font-size: 3rem;
			    display: flex;
			    justify-content: center;
			    align-items: center;
			    border-radius: 10000rem;
			    background-color: #5eff9b;
			    box-shadow: 0 0 24px #257644;
			    color: #ffffff80;
			    margin: 6vh auto;
			    border: 0.3rem solid #50df86;
			    text-transform: uppercase;
			    flex-wrap: wrap;
			}
		}
		

		audio { display: none; }
	}
}
 

@media only screen and (min-width: 550px) {
	page-home {
		ion-grid {
			padding-top: 14vh !important;
		}
	}
}